.notFound{
  background-image: url("https://media.istockphoto.com/id/1207750534/es/foto/404-error-internet-page-not-found-mano-con-lupa-concepto-imagen.jpg?s=612x612&w=0&k=20&c=J6FePLo-B0z6IGz6-pek476nQRbmnjbdHxWZKTCMX58=");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
